

   

    <link href="styles/custom.css" rel="stylesheet" type="text/css" />
</head>
<body id="pageBody">

<div id="divBoxed" class="container">

    <div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>

    <div class="divPanel notop nobottom">
         

            <div class="row-fluid">
                <div class="span12">
                    <div id="contentInnerSeparator"></div>
                </div>
            </div>
    </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">

           
            <div class="row-fluid">
			<!--Edit Main Content Area here-->
                <div class="span11" id="divMain">

                    <h1>About Us</h1>
					<hr>
					<h5>Our Approach</h5>
                                                     
                    <p>

A Team of professional and highly capable people who better understand your needs and expectations as a customer and provided you the best and the safe and 
ontime delivery of your heartly collected goods and accessories. 
Pune is always commited to use finest and professional art of packaging goods and uses the quality packaging materials and move them 
to your desired destination door to door wherever you want it across the country, We have a strong and huge network of our branches and professional agents 
who work 24*7 for the safe, secure and ontime delivery of your goods 
	<p>We take immense pleasure in introducing our selves as a top packer and moverand transport service all over India with many branches, serving 430 destinations all over India with over 5 years of experience in the field and with major multinationals like Maruti Pvt. Ltd., ICICI BAnk, Reliance Communication etc as our clients.<p>

With the assistance of All India Cargo Packers & Movers, you can very easily Get quotes and compare services from several Packing, Moving and relocation Companies for unmatched quality and proficient Packers and Movers services in India. At packersmovers.in receive free moving quotes for the following moving services: Packing and Moving, Household Goods Shifting, Car Transportation through Car Carriers, Relocation services (home movers, house movers, apartment movers, door to door moving services, local shifting, domestic and International moving and shifting) Corporate Relocation, Warehousing services and many more for moving anywhere within India or from any city in any corner of India to anywhere across India. It can help provide free quotes based on move size, route, and timing of your move. We at All India Cargo Packers and Movers cover movers and packers catering services for moves of every type and size: large and small, international, long-distance and local, & full-service moves. In short, we want to reduce the stress and time involved in moving, simplifying the entire relocation process.</p><p>

We provide service right from picking up parcels from your desk to delivery at the destination door step, including taking care of all related matters like octroi, sales taxes etc. Moreover since all our consignments are insured you are therefore assured of delivery without any liability. With state of the art computerized system to track the movements of all packets whether big or small we provide quick and efficient service with the shortest delivery time and provide you with the Proof of Delivery in the shortest period possible.</p>									 
		
			 
                </div>
				<!--End Main Content Area here-->
				
		
            </div>

            <div id="footerInnerSeparator"></div>
        </div>
    </div>

    <div id="footerOuterSeparator"></div>

    

<br /><br /><br />

<script src="scripts/jquery.min.js" type="text/javascript"></script> 
<script src="scripts/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="scripts/default.js" type="text/javascript"></script>





</body>
</html>