﻿
<body id="pageBody"><marquee  scrollamount="10"
direction="right"
behavior="scroll"><FONT SIZE="6" color="red">
Contact no..7350851231
<img src="assets/truck.gif" />
</marquee>
<div id="divBoxed" class="container">

    <div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>

    <div class="divPanel notop nobottom" style="background-color:rgb(75, 75, 122);margin-top:-14px;">
            

            <div class="row-fluid">
            <div class="span12">

                <div id="headerSeparator"></div>

                <div class="camera_full_width">
                    <div id="camera_wrap">
                        <div data-src="./assets/slider-images/4.jpg" ><div class="camera_caption fadeFromBottom cap1">Add a slogan or feature here...</div></div>
						<div data-src="./assets/slider-images/1.jpg" ><div class="camera_caption fadeFromBottom cap2">Add a slogan or feature here...</div></div>
						<div data-src="./assets/slider-images/2.jpg" ></div>
              <div data-src="./assets/slider-images/3.jpg" ></div>
                <div data-src="./assets/slider-images/5.jpg" ></div>
                  <div data-src="./assets/slider-images/6.jpg" ></div>
                    </div>
                    <br style="clear:both"/><div style="margin-bottom:40px"></div>
                </div>               

                <div id="headerSeparator2"></div>

            </div>
        </div>
    </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">
            

            <div class="row-fluid">
            <!--Edit Main Content Area here-->
                <div class="span12" id="divMain">
                    <h1>Welcome</h1>
                    				
					 <p>
<strong>Aarthik Packers & Movers</strong> is the best packing and moving service provider for house holds, furnitures of the offices, machinaries for industrial plants and for corporate materials such as (tables/chairs/sofa sets/electronic equipment). We are also known best service provider packers movers for domestic works only. With our aim to provide total customer satisfaction. Arthik Packers & Movers Movers is a leader for relocating materials of different industries, houses, offices and to serve its customers country wide. Arthik Packers & Movers Movers Pune is an independent Packers Movers service providers and is ranked #1 of the country's most leading Packers Movers of Pune.</p>

<p>We are Packers and Movers Mumbai. (known for great packers movers services in Mumbai)
We are one of the Biggest Packers Movers Pune, we also work and serve as Packers Movers Mumbai. So if you would like to get Packers Movers Pune Services, we must be your preferable choice, and for Mumbai, we have best rates and services rather than other Packers and Movers Mumbai.</p>

<p><b>We are Packers Movers Pune. (known for great packers movers services in Pune)</b></p>

<p>If somebody would like to rellocate his/her office, household, or industrial material/furniture with in the Pune or Inter City, so obviously you are seeking for Packers Movers Pune services by which you can rellocate your all furniture with in a day or two without any damage. Arthik Packers & Movers is the best Packers Movers Pune service provider which can beat the timelines with no damage guarantee.</p>
 
<p>Arthik Packers & Movers Movers Pune is serving to its clients with 100 % satisfactory output also, as in todays time nobody can make its 100 % client satisfactory.</p>
 
<p>So what are you waiting for, if you would loke to rellocate from your previous home/apartment, or going to rellocate/start your business today, so you should consult to Packers Movers Pune | Mumbai | Delhi right now for better conviniency. As we already mentioned above that we are very good to give services to our clients with no physical damage cum 100 % satisfactory rellocation.</p>


                    <br />                   
                    <br />                 

      <hr>
      <center><h4>OUR PACKING</h4></center>
    
          <hr>  
           <div class="row-fluid">
             <div class="span3">
                    <h5 class="text-info"></h5>
                    <img src="./assets/home1.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">                
                    
            </div>
            <div class="span3">                
                    <h5 class="text-info"></h5>
                    <img src="./assets/home5.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">  
                    
            </div>
            <div class="span3">                
                    <h5 class="text-info"></h5>
                    <img src="./assets/home3.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">  
                    
            </div>
           <div class="span3">
                    <h5 class="text-info"></h5>
                    <img src="./assets/home4.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">                
                    
            </div>
    </div>  
    <hr>

    <!-- client start here -->
    <div class="row-fluid">
    <center><h4>OUR CLIENT</h4></center>
    <hr>
    <div class="inline ">
    <div class="span2">
       <img src="./assets/client-logos/wipro.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/infosys.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/ibm .png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/Vodafone.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/Reliance .png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/axis_bank .png" class="img-polaroid"  > 

       </div>
       
    </div>


    </div>


    <div class="row-fluid">
 <div  style="margin-top:20px;">
    <div class="span2">	
       <img src="./assets/client-logos/bajaj.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/idbi_bank_.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/icici.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/HPCL.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/hero.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/Air_India_.png" class="img-polaroid"  > 
       </div>
       
    </div>
     </div>


<!-- client end here -->



                </div>
            <!--End Main Content-->
            </div>

            <div id="footerInnerSeparator"></div>
        </div>
    </div>

    <div id="footerOuterSeparator"></div>
    


    
<br /><br /><br />

<script src="scripts/jquery.min.js" type="text/javascript"></script> 
<script src="scripts/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="scripts/default.js" type="text/javascript"></script>


<script src="scripts/carousel/jquery.carouFredSel-6.2.0-packed.js" type="text/javascript"></script>
<script type="text/javascript">$('#list_photos').carouFredSel({ responsive: true, width: '100%', scroll: 2, items: {width: 320,visible: {min: 2, max: 6}} });</script>
<script src="scripts/camera/scripts/camera.min.js" type="text/javascript"></script>
<script src="scripts/easing/jquery.easing.1.3.js" type="text/javascript"></script>
<script type="text/javascript">function startCamera() {$('#camera_wrap').camera({ fx: 'scrollLeft', time: 2000, loader: 'none', playPause: false, navigation: true, height: '35%', pagination: true });}$(function(){startCamera()});</script>

