
<body id="pageBody">

<div id="divBoxed" class="container">

    <div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>

    <div class="divPanel notop nobottom">
           

            <div class="row-fluid">
                <div class="span12">
                    <div id="contentInnerSeparator"></div>
                </div>
            </div>
    </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">

           

            <div class="row-fluid">
            <!--Edit Main Content Area here-->
                <div class="span12" id="divMain">

                    <h4>Services</h4>
                    <hr>
                    <p><strong class="text-error">Aarthik Packers & Movers</strong> offers a range of services that will take all trouble out of your moving. Consideration a move, whether within the city, elsewhere in India / to India or out of the country, our surveyor will visit your home/office and give you a comprehensive cost analysis along with the best mode of packing and moving, all of it combined with helpful suggestions.
                    </p>            
                    
                  

                <div class="row-fluid">
            
            <!--Edit Sidebar Content here-->
                <div class="span3">                    
                 <h3>Left Sidebar Content</h3>
                 <p>Lorem Ipsum is simply dummy text of the printing and <a href="#">typesetting industry</a>.</p>
                 <p> Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>     
                
                
        <h3>Static Image</h3>        
          <img src="assets/windmill.jpg" class="img-polaroid" alt="">
          
            <h3>Another Section</h3>
                 <p>Lorem Ipsum is simply dummy text of the printing and <a href="#">typesetting industry</a>.</p>
                 <p> Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>                  
          </div>
                <!--/End Sidebar Content -->                        
                                     
                <!--Edit Main Content Area here-->
                <div class="span9" id="divMain">

                    <h1></h1>
                    <hr>    
                    <div class="row-fluid">     
                <div class="span4">                           
                    <img src="assets/serv3.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">   </div>          
                <div class="span8"> 
                  <h6>Goods Relocation Services</h6>           
                    <p>No matter what the nature of your goods is. Whether it is industrial good or corporate good; They are ready to go an extra mile to ensure a safe delivery of goods at your doorstep. A  We try our best that all the goods of our clients are easily relocated, irrespective of their weight, size and other factors. When it comes to all-inclusive relocation services, Godara Packers and Movers is a name you can trust..</p>
                </div>       
            </div>
            <hr>
                    <div class="row-fluid">     
                <div class="span4">                           
                    <img src="assets/serv4.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">   </div>          
                <div class="span8"> 
                 <h6>Packing & Moving services</h6>           
                    <p>We are one of the premier packers and movers of the country providing quality packing and moving services to all our clients. As per the demand .  Similarly we offer diverse packing options for goods of different nature. Our well qualified staff excels in packing your goods carefully so that not even a scratch can harm your goods and that your goods are delivered within the stipulated time</p>
                </div>       
            </div>
            <hr>

                   <div class="row-fluid">      
                <div class="span4">                           
                    <img src="assets/serv5.jpg"  class="img-polaroid" style="margin:5px 0px 15px;" alt="">   </div>          
                <div class="span8"> 
                <h6>Local Shifting </h6>            
                    <p>We realize that most of the people are shifting home or offices almost every year on an average. But unfortunately people are not be able to take out so much time from there hectic schedule for relocation even in the local settings. Therefore Godara Packers and Movers provide relocation services beyond your city as well as locally. </p>
                </div>       
            </div>               
                </div>                               
                                                          
                <!--/End Main Content Area here-->                  
                    
                            
            </div>
        
        <hr>
        <br>

                 <div class="row-fluid">
            
            <div class="span8" >                   
            <!--Edit Tabs here-->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><i class="icon-star"></i> Services 1</a></li>
                <li><a href="#profile" data-toggle="tab"><i class="icon-star"></i> Services 2</a></li>
                <li><a href="#settings" data-toggle="tab"><i class="icon-star"></i> Services 3</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                <img src="assets/about1.jpg" class="pull-left img-polaroid" alt=""/>
                <p>This image uses the style class 'pull-left' to position to the left of any text.  It also uses the class <strong>'img-polaroid'</strong> to place a frame around it.
                <a href="http://twitter.github.io/bootstrap/base-css.html#images" class="dropdown-toggle"> Read the doc file here.</a></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                </div>
                <div class="tab-pane fade" id="profile">
                <img src="assets/about2.jpg" class="pull-left img-polaroid" alt=""/>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="tab-pane fade" id="settings">
                <img src="assets/about3.jpg" class="pull-left img-polaroid" alt=""/>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <!--End Tabs here-->
                    </div>
                    
            
            <div class="span4" >
              <!--Edit Accordians here-->      
              <div class="accordion" id="accordion2">

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Collapsible Content 1
                        </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                           Collapsible Content 2
                        </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                           Collapsible Content 3
                        </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        </div>
                    </div>
              </div>
              <!--End Accordians here-->
                    </div>          
            </div>                       

                </div>
                <!--End Main Content here-->
 
            </div>

            <div id="footerInnerSeparator"></div>
        </div>
    </div>

    <div id="footerOuterSeparator"></div>

    
<br /><br /><br />

<script src="scripts/jquery.min.js" type="text/javascript"></script> 
<script src="scripts/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="scripts/default.js" type="text/javascript"></script>








