
 <link href="http://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
<body id="pageBody">
    <div id="divBoxed" class="container">
         <div class="divPanel notop nobottom" style="background-color:rgb(75, 75, 122);">
<div class="row-fluid" >
<div class="span11" style="background-color:rgb(75, 75, 122); margin-left: 51px;">
                    
                    <div id="divLogo" class="pull-left">
                        <div class="span3">
                       <img src="..//assets/12.png" alt="Boxter HTML Template Demo Light">
                       </div>
                       <div class="span3">
                       <img src="..//assets/iso.png" alt="Boxter HTML Template Demo Light" height ="40px" width ="90px">
                       </div>
                    </div>

                    <div id="divMenuRight" class="pull-right">

                    <div class="navbar">
                    

                        <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                            NAVIGATION <span class="icon-chevron-down icon-white"></span>
                        </button>
                        <div class="nav-collapse collapse">
                            <ul class="nav nav-pills ddmenu">
                            <li class=""><a href="/index">Home</a></li>
                            <li><a href="/about_us">About</a></li>

                            <li>
                            <a href="/enquiry" >Branches</a></li>
                            

                            <li><a href="/services">Services</a></li>
                            <li><a href="/gallery">Portfolio</a></li>
                            <li><a href="/contact_us">Contact</a></li>
                            </ul>
                            </div>
                    </div>
                    </div>

                </div>
                </div>
                </div>
                </div>
                </div>